
# export files for BOM
*.csv
*.tsv
*.xml
# backup files
*.bak
*.sch-bak
*.kicad_pcb-bak
#
/output/MainBoard.step
\#*.dxf
 
# old files
dont_delete_me_yet/
marked_as_bak/
related_projects/
CUBEMIX_CONFIG/

